* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    background: #f8fafe;
    font-weight: 600;
    font-size: 45px;
    color: #FFB82E;
    overflow-y: scroll;
}

header h1 {
    padding-top: 60px;

}
.container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}


.container>header h1 {
    position: relative;
    color: #FFB82E;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    padding: 130px 0px 30px 0px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

.container>header h2 {
    font-size: 26px;
    font-style: italic;
    color: #5f5f5f;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}


#abrirModal {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #FFB82E;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.conteudo-modal {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.conteudo-modal  h2 {
    padding: 20px;
    font-size: 40px !important;
}
.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.wrapper{
    padding-top: 20px;

}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.ponto {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #FFB82E;
    border-radius: 50%;
    animation: bounce 1s infinite alternate;
}

.ponto:nth-child(2) {
    animation-delay: 0.2s;
}

.ponto:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
form {
    
    margin: 20px auto;
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex; /* Ativa o Flexbox no formulário */
    flex-direction: column; /* Organiza os itens em coluna */
    gap: 15px; /* Espaçamento entre os itens */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all .3s ease;
}
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all .3s ease;
    font-size: 14px;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
  }
input:focus,
textarea:focus {
    border-color: #FFB82E;
    outline: 1px solid #FFB82E;
}

label{
    display: flex;
    font-size: 14px;
    font-weight: bold;
    transition: all .3s ease;
}

input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label {
    
    color: #FFB82E;
}

::placeholder{
    color: #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FFB82E; /* Azul como exemplo */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #c08a1d; /* Azul mais escuro ao passar o mouse */
  }
  
  button[type="reset"] {
    background-color: #ccc; /* Cinza para o botão "Limpar" */
  }
  
  button[type="reset"]:hover {
    background-color: #999; /* Cinza mais escuro ao passar o mouse */
  }
