@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    backdrop-filter: blur(5px);
    background-color: rgba(17, 20, 26, 0.5);
    /* background: #11141a; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a {

    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: #ffa03c;
}

section {
    margin-bottom: 20px;
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
    font-size: 2em;
    color: #fff;
    font-weight: 300;
}

section:nth-child(odd) {
    background: #323946;
}

.container {
    display: flex;
    width: 100%;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 300ms ease-in;
}

@media (min-width: 468px) {
    .panel {
        flex-wrap: wrap;
        
        /* Permita que os itens da seção "Sobre Mim" quebrem para uma nova linha em telas menores */
    }

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}


.about {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.person {
/*    background: #153951;*/
    border-radius: 5px;
    margin: 20px 20px;
    text-align: center;
    min-width: 80px;
    max-width: 580px;
}

.person img {
    box-shadow: 1px 7px 8px 0px rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 100px;
    max-width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0 0 0;
}



.person h2 {
    font-size: 22px;
    color: #8A8A8A;
    margin-bottom: 10px;
}

.person b {
    padding: 50px 20px;
}

.person p {
    font-size: 18px;
    font-weight: 200;
    color: #EC844F;
    margin: 20px auto;
}


.additional-info p {
    font-weight: 400;
    color: #eeeeee;
}

@media (max-width: 768px) {
    .about {
        flex-wrap: wrap;
        /* Permita que os itens da seção "Sobre Mim" quebrem para uma nova linha em telas menores */
    }

    .person {
        flex: 0.4 0 30%;
        /* Defina a largura de cada pessoa para ocupar 45% da largura da tela, deixando um espaço entre elas */
        margin: 10px;
        /* Adicione um espaço entre cada pessoa */

    }
}